<ion-header  color="medium">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title  color="medium">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card class="welcome-card">
       <ion-card-header  color="medium">
      <ion-card-title>Welcome to Ionic Book App Final</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        <br>
        Here, you will experience a roughly, but functionally composed book app
      </p>
      <img src="http://lorempixel.com/g/400/200" /> 
    </ion-card-content>
  </ion-card>

</ion-content>
